.formWrapper {
  width: 90%;
  height: 80vh;

  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: space-evenly;

  input {
    background-color: #f2f2f2;
    height: 2rem;
    border-radius: 5px;
    padding-left: 0.5rem;
    color: #242424;
  }


}